body {
	background-color: rgb(232, 239, 252);
}
section.CTA {
	display: flex;
	align-items: center;
	text-align: center;
}
div.videoContainer {
	width: 50%;
	display: flex;
	flex-direction: column-reverse;
}
div.videoContainer > img {
	width: 200px;
	object-fit: scale-down;
}
div.videoContainer > video {
	width: 100%;
}
section.CTA > article {
	width: 50%;
	margin: 0px auto;
}
section.CTA > article > h2 {
	color: #025157;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

article > p {
	color: #343434;
}

form.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
form.container > span {
	font-size: large;
	color: #025157;
	font-weight: 600;
	margin-right: 10px;
}
form.container > div > input {
	border: none;
	padding: 10px 5px;
	border-radius: 5px;
}
form.container > div > button {
	margin: 0px;
	border: none;
	background-color: #025157;
	color: white;
	border-radius: 5px;
	padding: 7px 10px;
	font-size: large;
}
